---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/civicinfo/v2/representatives?address=&key=<key>&levels=subLocality2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "No address provided",
            "errors": [
              {
                "message": "No address provided",
                "domain": "global",
                "reason": "required"
              }
            ]
          }
        }
  recorded_at: Sun, 06 Jun 2021 22:07:39 GMT
recorded_with: VCR 6.0.0
